include tox.ini
include requirements/*.txt
include HISTORY.txt
include CHANGES.txt
include VERSION.txt
include README.txt
include Makefile
include tests/test_app.py 
include src/ps/static/*
include src/ps/static/favicon/*
include src/ps/templates/*
include src/ps/templates/auth/*
