{% extends "bootstrap/base.html" %}

{% block title %} {{dev_stage }} Logging Server Status Page {% endblock %}

{% block head %}
{{ super() }}
<!-- Start old icon 
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon"          href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
-->

<!-- Start new icon --> 
<link rel="apple-touch-icon"                  sizes="57x57"          href="{{ url_for('static', filename='favicon/apple-icon-57x57.png')}}">
<link rel="apple-touch-icon"                  sizes="60x60"          href="{{ url_for('static', filename='favicon/apple-icon-60x60.png')}}">
<link rel="apple-touch-icon"                  sizes="72x72"          href="{{ url_for('static', filename='favicon/apple-icon-72x72.png')}}">
<link rel="apple-touch-icon"                  sizes="76x76"          href="{{ url_for('static', filename='favicon/apple-icon-76x76.png')}}">
<link rel="apple-touch-icon"                  sizes="114x114"        href="{{ url_for('static', filename='favicon/apple-icon-114x114.png')}}">
<link rel="apple-touch-icon"                  sizes="120x120"        href="{{ url_for('static', filename='favicon/apple-icon-120x120.png')}}">
<link rel="apple-touch-icon"                  sizes="144x144"        href="{{ url_for('static', filename='favicon/apple-icon-144x144.png')}}">
<link rel="apple-touch-icon"                  sizes="152x152"        href="{{ url_for('static', filename='favicon/apple-icon-152x152.png')}}">
<link rel="apple-touch-icon"                  sizes="180x180"        href="{{ url_for('static', filename='favicon/apple-icon-180x180.png')}}">
<link rel="icon"             type="image/png" sizes="192x192"        href="{{ url_for('static', filename='favicon/android-icon-192x192.png')}}">
<link rel="icon"             type="image/png" sizes="32x32"          href="{{ url_for('static', filename='favicon/favicon-32x32.png')}}">
<link rel="icon"             type="image/png" sizes="96x96"          href="{{ url_for('static', filename='favicon/favicon-96x96.png')}}">
<link rel="icon"             type="image/png" sizes="16x16"          href="{{ url_for('static', filename='favicon/favicon-16x16.png')}}">
<link rel="manifest"                                lref="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<!-- Fin new icon --> 





<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='logging_server.css') }}">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="{{ url_for('index') }}">
                      {{ dev_stage }} Logging Server Status Page
                   </a>
                </li>
                {% if current_user.is_authenticated %}
                     <li><a href="{{ url_for('logout') }}">       Log Out</a></li>
                     <li><a href="{{ url_for('reset_database') }}">clean > 30 days</a></li>
                {% else %}
                     <li><a href="{{ url_for('login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    {% block page_content %}{% endblock %}
{% endblock %}

