<p>clog-form works!</p>
<table>
    <tr>
        <td>
             xx
        </td>
    </tr>
    <!--

    <tr>
        <form action="/" method="post" accept-charset="ISO-8859-1">

            <td id="form_system_id">SYSTEM_ID<br><select name="SYSTEM_ID" title="Define SYSTEM_ID">

                    <option value="box1.a.de">
                        box1.a.de
                    </option>

                    <option value="shell_log">
                        shell_log
                    </option>

                    <option selected value="not_selected">
                        not_selected
                    </option>

                </select></td>
            <td id="form_sub_system_id">SUB_SYSTEM_ID<br><select name="SUB_SYSTEM_ID" title="Define SUB_SYSTEM_ID">

                    <option value="s1">
                        s1
                    </option>
                    <option value="Drs-MBP-4.fritz.box">
                        Drs-MBP-4.fritz.box
                    </option>

                    <option selected value="not_selected">
                        not_selected
                    </option>

                </select></td>
            <td id="form_sub_sub_system_id">SUB_SUB_SYSTEN_ID<br><select name="SUB_SUB_SYSTEM_ID"
                    title="DEFINE SUB_SUB_SYSTEM_ID">


                    <option value="sub_sub_3">
                        sub_sub_3
                    </option>

                    <option selected value="not_selected">
                        not_selected
                    </option>

                </select></td>
            <td id="form_user_spec_1">USER_SPEC_1<br><select name="USER_SPEC_1" title="DEFINE USER_SPEC_1">

                    <option value="us_1_1">us_1_1
                    </option>

                    <option value="us_1_2">us_1_2
                    </option>

                    <option selected value="not_selected">not_selected
                    </option>

                </select></td>
            <td id="form_user_spec_2">USER_SPEC_2<br><select name="USER_SPEC_2" title="DEFINE USER_SPEC_2">

                    <option value="us_2_2">
                        us_2_2
                    </option>

                    <option selected value="not_selected">
                        not_selected
                    </option>

                </select></td>
            <td id="form_produkt_id">PRODUKT_ID<br><select name="PRODUKT_ID" title="DEFINE PRODUKT_ID">

                    <option value="prod_2">
                        prod_2
                    </option>

                    <option value="prod_3">
                        prod_3
                    </option>

                    <option selected value="not_selected">
                        not_selected
                    </option>

                </select></td>
    </tr>

    <tr>
        <td id="form_pattern"> Pattern<br> <input name="pattern" size="12" value="not_selected"
                title="define a pattern to search for"> </td>
        <td id="form_starting_at"> Starting at<br> <input name="starting_at" size="20" value="not_selected"
                title="adapt the starting time range for the request"> </td>
        <td id="form_notify_level"> Notify_level<br> <select name="notify_level"
                title="define the log level upon which records will be displayed">


                <option selected value="00">ALL (>00)</option>
                <option value="10">DEBUG (>10)</option>
                <option value="20">INFO (>20) </option>
                <option value="30">ERROR (>30)</option>


            </select> </td>
        <td id="form_num_records">num_records<br> <input name="max_rows" size="12" value="50"
                title="define the maximum number of log records to retrieve"> <br> </td>
        <td id="form_order">order<br> <select name="old_row_first"
                title="define the order, how log-records are displayed">

                <option value="asc">Oldest log record First</option>
                <option selected value="desc">Newest Log Record First</option>

            </select></td>
        <td id="form_input"><br> <input type="submit" value="submit"
                style=" background-color: #FFFFC0; border: 3pt ridge lightgrey"></td>
    </tr>
    </form>
    -->
</table>