<div class="container">
<!-- {{diagnostic}} -->
<form (ngSubmit)="onSubmit()" #LogForm="ngForm">
<table>
    <tr>
        <td>
            <div class="form-group">
                <label for="system_id">SYSTEM_ID</label><br>
                <select class="form-control" 
                        id="system_id" 
                        required 
                        [(ngModel)]="slogdataService.search_tuple.system_id" 
                        name="system_id" 
                        #name="ngModel">
                    <option *ngFor="let system_id of slogdataService.search_options['system_ids']">{{system_id}}</option>
                </select>
            </div>
        </td>
        <td>
            <div class="form-group">
                <label for="sub_system_id">SUB_SYSTEM_ID</label><br>
                <select class="form-control" 
                        id="sub_system_id" 
                        required [(ngModel)]="slogdataService.search_tuple.sub_system_id" 
                        name="sub_system_id"
                        #name="ngModel">
                    <option *ngFor="let sub_system_id of slogdataService.search_options['sub_system_ids']">{{sub_system_id}}</option>
                </select>
            </div>
        </td>
        <td>
            <div class="form-group">
                <label for="sub_sub_system_id">SUB_SUB_SYSTEM_ID</label><br>
                <select class="form-control" 
                        id="sub_sub_system_id" 
                        required 
                        [(ngModel)]="slogdataService.search_tuple.sub_sub_system_id"
                         name="sub_sub_system_id" 
                         #name="ngModel">
                    <option *ngFor="let sub_sub_system_id of slogdataService.search_options['sub_sub_system_ids']">{{sub_sub_system_id}}
                    </option>
                </select>
            </div>
        </td>
        <td>
            <div class="form-group">
                <label for="user_spec1">USER_SPEC1</label><br>
                <select class="form-control" 
                        id="user_spec1" 
                        required 
                        [(ngModel)]="slogdataService.search_tuple.user_spec_1" 
                        name="user_spec1"
                        #name="ngModel">
                    <option *ngFor="let user_spec1 of slogdataService.search_options['user_spec_1s']">{{user_spec1}}</option>
                </select>
            </div>
        </td>
        <td>
            <div class="form-group">
                <label for="user_spec2">USER_SPEC2</label><br>
                <select class="form-control" 
                        id="user_spec2" 
                        required 
                        [(ngModel)]="slogdataService.search_tuple.user_spec_2" 
                        name="user_spec2"
                        #name="ngModel">
                    <option *ngFor="let user_spec2 of slogdataService.search_options['user_spec_2s']">{{user_spec2}}</option>
                </select>
            </div>
        </td>
        <td>
            <div class="form-group">
                <label for="produkt_id">PRODUKT_ID</label><br>
                <select class="form-control" 
                        id="produkt_id" 
                        required 
                        [(ngModel)]="slogdataService.search_tuple.produkt_id" 
                        name="produkt_id"
                    #name="ngModel">
                    <option *ngFor="let produkt_id of slogdataService.search_options['produkt_ids']">{{produkt_id}}</option>
                </select>
            </div>
        </td>
    </tr>
    <!-- Line two of the form -->
        <td>
            <div class="form-group">
                <label for="pattern">Pattern</label><br>
                <input type="text" 
                       class="form-control" 
                       id="pattern" 
                       required 
                       [(ngModel)]="slogdataService.search_tuple.pattern" 
                       name="pattern"
                    #pattern="ngModel">
                <div [hidden]="pattern.valid || pattern.pristine" class="alert alert-danger">
                    pattern is required
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <label for="starting_at">Starting at</label><br>
                <input type="text" 
                       class="form-control" 
                       id="starting_at" 
                       required 
                       [(ngModel)]="slogdataService.search_tuple.starting_at"
                       name="starting_at" 
                       #starting_at="ngModel">
                <div [hidden]="starting_at.valid || starting_at.pristine" class="alert alert-danger">
                    starting_at is required
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <label for="notify_level">NOTIFY_LEVEL</label><br>
                <select class="form-control" 
                        id="notify_level" 
                        required 
                        [(ngModel)]="slogdataService.search_tuple.notify_level" 
                        name="notify_level"
                        #name="ngModel">
                    <option *ngFor="let notify_level of slogdataService.search_options['notify_levels']">{{notify_level.value}}</option>
                </select>
            </div>
        </td>
        <td>
            <div class="form-group">
                <label for="num_records">Num Records</label><br>
                <input type="text" 
                       class="form-control" 
                       id="num_records" 
                       required 
                       [(ngModel)]="slogdataService.search_tuple.num_records"
                       name="num_records" 
                       #num_records="ngModel">
                <div [hidden]="num_records.valid || num_records.pristine" class="alert alert-danger">
                    num_records is required
                </div>
            </div>
        </td>
        <td>
            <div class="form-group">
                <label for="order">order</label><br>
                <select class="form-control" 
                        id="order" 
                        required 
                        [(ngModel)]="slogdataService.search_tuple.order" 
                        name="order" 
                        #name="ngModel">
                    <option *ngFor="let order of slogdataService.search_options['orders']">{{order.value}}</option>
                </select>
            </div>
        </td>
        <td> </td>
        <td>
            <div class="form-group">
                <button type="submit" class="btn btn-success" [disabled]="!LogForm.form.valid">Submit</button>
            </div>
        </td>

    <tr>
 
    </tr>
</table>

</form>
</div>