table { margin-left: auto; margin-right: auto;
        width: 100%; border: 2px solid black; margin-top: 2ex; }
table caption { /*font-weight: bold;*/ text-align: center;
                font-size: larger; margin-bottom: 0.5ex; }
tr                  { font-family: "Lucida Console", monospace; border: 3px solid black; }
th, td              { padding: 0.5ex;  border: 1px solid green}
tr.CRITICAL        { background-color: red; color: yellow; text-decoration: blink; }
tr.ERROR           { background-color: #ff3300; /* red */ color: yellow; }
tr.WARN, tr.WARNING{ background-color: #ffff99; /* yellow */ color: black; }
tr.INFO, td.INFO    { background-color: #90EE90; /* lightgreen */ color: black; }
tr.DEBUG            { background-color: #7FFFD4; /* aquamarine */ color: black; }
table.vtable tr th  { font-weight: bold; text-align: right;  border: 1px solid white}
table.htable tr th  { font-weight: bold; text-align: center; border: 1px solid black}
table.htable tr.heading, table.vtable tr th.heading { background-color: #E0E0E0; }
